#set($layout = "/layout/layout_about_user.vm")

<div class="container clearfix">
        <!-- 用户中心 左侧导航 -->
        #parse("/common/user_center_left.vm")
        <!-- 用户中心 右侧部分 -->
        <div class="sidebar_content">
            <h1 class="title">帐号设置</h1>
            <div class="account_setting">
                <form>
                    <ul>
                        <li>
                            <label>昵称</label>
                            <input value="土豆PP" type="text" />
                            <button>修改</button>
                        </li>
                        <li>
                            <label>邮箱</label>
                            <input value="ksullivan@oyondu.biz" type="email" />
                            <button>修改</button>
                        </li>
                        <li>
                            <label>手机</label>
                            <input value="18681899999" type="text" />
                            <button>修改</button>
                        </li>
                        <li>
                            <label>密码</label>
                            <input value="18681899999" type="password" />
                            <button>修改</button>
                        </li>
                    </ul>
                    <div class="submit_container clearfix">
                        <input type="submit" value="保存">
                    </div>
                </form>
            </div>
        </div>
    </div>
