#set($cssName = "sidebar.css")
#set($jsName = "user.js")
<div class="container clearfix">
    <!-- 用户中心 左侧导航 -->
    #parse("user/user_center_left.vm")
    <div class="sidebar_content">
        <h1 class="title">认证信息</h1>
        <div>
            #if($!userAuth.status == 1)
                <span>
                    申请中
                </span>
            #elseif($!userAuth.status == 2)
                <span>
                    申请通过
                </span>
            #else
                <span>
                    开始认证
                </span>
            #end
        </div>
    </div>
</div>