#set($cssName = "sidebar.css")
#set($jsName = "user.js")
<div class="container clearfix">
    <!-- 用户中心 左侧导航 -->
    #parse("user/user_center_left.vm")

    <!-- 用户中心 右侧部分 -->

    <div class="sidebar_content">
        <h1 class="title">个人信息</h1>

        <div class="user_basic_container">
            <form action="/user/update" method="post">
            ##<input id="hidden_avatar" type="hidden" name="imageUrl" value="$!user.imageUrl">
                <h2 class="sub_title">基本信息</h2>

                <div class="input_content">
                    <h3 class="personal_information_label">昵称</h3>
                    <span class="err_msg"></span>
                    <input type="text"  name="userName" value="$!user.userName"／>
                </div>
                <div class="input_content">
                    <h3 class="personal_information_label">性别</h3>
                    #foreach($sex in $sexEnums)
                        <input type="radio" name="sex"
                               value="$sex.getType()"  #if($!user.sex == $sex.getType())
                               checked="checked" #end  />
                        <label>$sex.getDescription()</label>
                    #end
                </div>
                <div class="input_content introduce">
                    <h3 class="personal_information_label">一句话介绍自己</h3>
                    <textarea type="text" name="info" value="$!user.info"></textarea>
                </div>
                <input type="submit" value="保存"/>

            </form>
        </div>
    </div>

</div>