#set($layout = "/layout/layout_about_user.vm")

<div class="container clearfix">
        <!-- 用户中心 左侧导航 -->
        #parse("/common/user_center_left.vm")
        <!-- 用户中心 右侧部分 -->
        <div class="sidebar_content">
            <h1 class="title">历史纪录</h1>
            <button class="clear_history">清除历史纪录</button>
            <div class="history_container">
                <!-- 历史纪录 -->
                <!-- <table class="history_list">
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">昨天</td>
                    </tr>
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">昨天</td>
                    </tr>
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">昨天</td>
                    </tr>
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">昨天</td>
                    </tr>
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">12天前</td>
                    </tr>
                    <tr>
                        <td class="name">5 Tips For Offshore Software Development</td>
                        <td class="delete">
                            <button>删除</button>
                        </td>
                        <td class="date">昨天</td>
                    </tr>
                </table> -->
                <!-- 没有历史纪录 -->
                <div class="nohistory">
                    <span class="nohistory_pic"></span>
                    <h6>没有查看的历史记录</h6>
                </div>
            </div>
        </div>
    </div>
