#set($cssName = "sidebar.css")
#set($jsName = "user.js")

<div class="container clearfix">
    <!-- 用户中心 左侧导航 -->
    #parse("/common/user_center_left.vm")
    <!-- 用户中心 右侧部分 -->
    <div class="sidebar_content">
        <h1 class="title">修改密码</h1>

        <div class="modify_password">
            <form method="post" action="/user/modify/password/do">
                <label>旧密码</label>
                <input type="password" value="" name="currentPassword" placeholder="待输入">

                <span class="err_msg #if($!wrongType != 1) hidden  #end">当前密码错误</span>
                <br/>
                <label>新密码</label>
                <input type="password" value="" name="newPassword" placeholder="待输入">
                <br/>
                <label>确认新密码</label>
                <input type="password" value="" name="newPasswordConfirm" placeholder="待输入">
                <span class="err_msg #if($!wrongType != 2) hidden  #end">两次密码输入要非空且相等</span>
                <br/>
                <input type="submit" value="保存">
            </form>
        </div>
    </div>
</div>
