
    <div class="container clearfix">
        <!-- 用户中心 左侧导航 -->
        #parse("/common/user_center_left.vm")
        <!-- 用户中心 右侧部分 -->
        <div class="sidebar_content">
            <h1 class="title">修改密码</h1>
            <div class="modify_password">
                <form>
                    <label>旧密码</label>
                    <input type="password" value="123123123">
                    <span class="err_msg">密码错误</span>
                    <br/>
                    <label>新密码</label>
                    <input type="password" value="">
                    <br/>
                    <label>确认新密码</label>
                    <input type="password" value="">
                    <span class="err_msg">密码不匹配</span>
                    <br/>
                    <input type="submit" value="保存">
                </form>
            </div>
        </div>
    </div>
