<ul class="sidebar_nav">
    <li class="user_info">
        <div class="user_avatar_container">
            <label for="avatar_input_upload" id="avatar_mask" class="avatar_mask"></label>
            <input id="avatar_input_upload" type="file" accept="image/png,image/gif,image/jpg,image/jpeg" name="file"/>
            <img id="avatar_image" src="$!user.imageUrl">
        </div>
        <h2 class="user_name">$!thisUser.username</h2>
        <h6 class="user_signature">$!user.info</h6>
    </li>
    <li><a href="/about/empty">我关注的</a></li>
    <li #if($pageName=="bio") class="active" #end><a href="/user/bio?pageName=bio&userKey=$!thisUser.userKey">基本信息</a></li>
    <li #if($pageName=="auth") class="active" #end><a href="/user/auth?pageName=auth">认证信息</a></li>
    <li #if($pageName=="password") class="active" #end><a href="/user/modify/password?pageName=password&userKey=$!thisUser.userKey">修改密码</a></li>
</ul>


<div class="popup_box avatar" id="avatar_popup">
    <button class="close"></button>
    <div class="img_upload_container">
        <h5>添加或更改你的头像</h5>
        <div class="avatar_container">
            <img id="avatar_upload" src="">
        </div>
        <p>随意拖拽或缩放大图中的虚线方格，虚线内小图即为保存后的小头像图标。</p>
        <div class="avatar_btn_container">
            <button class="confirm">保存</button>
            <button class="cancle">取消</button>
        </div>
    </div>
</div>