.searchbar {
    width: 540px;
    margin: 55px auto;
    text-align: center;
    .form_search {
        font-size: 0;
        position: relative;
        input {
            display: block;
            vertical-align: top;
            background: #ffffff;
        }
        .search {
            background: #ffffff;
            border: 1px solid rgba(56, 56, 56, 0.10);
            border-radius: 2px;
            width: 541px;
            height: 38px;
            width: 100%;
            font-size: 14px;
            font-weight: 100;
            padding-left: 15px;
            transition: border 300ms ease;
            &:hover {
                border: 1px solid rgba(56, 56, 56, 0.40);
            }
            &:focus {
                border: 1px solid #13aca4;
            }
        }
        .submit {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            background: url("../../assets/images/search_main_ico.png") no-repeat center center, transparent;
            background-size: 20px;
            padding: 0;
            width: 38px;
            height: 38px;
        }
    }
}
