<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>

    $!assetsUtils.getCssByKey("all.css")
    $!assetsUtils.getCssByKey("index.css")
    #if($!cssName)
        $!assetsUtils.getCssByKey($!cssName)
    #end
</head>
<body>

    $screen_content
    #parse("/common/popup_sign.vm")

    $!assetsUtils.getJsByKey("jquery.min.js")
    $!assetsUtils.getJsByKey("jquery.fullPage.js")
    $!assetsUtils.getJsByKey("pace.min.js")
    $!assetsUtils.getJsByKey("index.js")


    #if($!jsName)
        $!assetsUtils.getJsByKey($!jsName)
    #end

</body>

</html>

