<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>
    #parse("/common/all_css.vm")
    #parse("/common/all_js.vm")
    #parse("/common/about_user_css.vm")
</head>
<body>

<div class="wrap">
    #parse("/common/top_bar.vm")
    $screen_content
    #parse("/common/footer.vm")
    #parse("/common/popup_sign.vm")
</div>
    #parse("/common/all_js_noneindex.vm")
</body>
</html>
