<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP库 | IPCool</title>

    $!assetsUtils.getCssByKey("all.css")
    #if($!cssName)
        $!assetsUtils.getCssByKey($!cssName)
    #end
</head>
<body>

<div class="wrap">
    #parse("/common/top_bar.vm")
    $screen_content
    #parse("/common/footer.vm")
    #parse("/common/popup_sign.vm")
</div>

    $!assetsUtils.getJsByKey("jquery.min.js")
    $!assetsUtils.getJsByKey("pace.min.js")
    $!assetsUtils.getJsByKey("all.js")

    #if($!jsName)
        $!assetsUtils.getJsByKey($!jsName)
    #end
    #if($!jsName2)
        $!assetsUtils.getJsByKey($!jsName2)
    #end
</body>

</html>

