<div class="page-heading">
    <h3>
        文学库
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">爬虫管理</a></li>
        <li><a href="#">添加爬虫</a></li>
    </ul>
</div>


<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    添加
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal dt-form" role="form" action="/crawler/save" method="post">
                        <input type="hidden" name="id" value="">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">标题</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="" name="title"  placeholder="标题">

                                <p class="help-block">注：名称长度在8~15之间</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">书名</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="" name="name"  placeholder="书名">

                                <p class="help-block">注：名称长度在8~15之间</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">亚马逊</label>
                            <input type="hidden" name="infos[0].source" value="1"/>
                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[0].url"  required="required"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">京东</label>
                            <input type="hidden" name="infos[1].source" value="2"/>
                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[1].url"  required="required"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">当当</label>
                            <input type="hidden" name="infos[2].source" value="3"/>
                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[2].url"  required="required"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">豆瓣</label>
                            <input type="hidden" name="infos[3].source" value="4"/>
                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[3].url"  required="required"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    提交
                                </button>
                                <button class="btn btn-default" type="button">取消</button>
                            </div>
                        </div>
                    </form>

                </div>
            </section>


        </div>
    </div>
</div>
