
<div class="formbody">
    <div class="rightinfo" style="overflow:auto;" id="contentDiv">
        <form action="/crawler/save.html" id="form1" method="post">
            <input type="hidden" name="id" value="$!{entity.id}"/>

            <div class="formtitle"><span class="sp">文学信息</span></div>

            <ul class="forminfo">
                <li><label style="width:150px">标题：</label>
                    <input value="$!{book.title}" id="title" name="title" type="text" class="dfinput-345"
                           maxlength=200/>
                </li>
                <li><label style="width:150px">书名：</label>
                    <input value="$!{book.name}" id="name" name="name" type="text" class="dfinput-345"
                           maxlength=200/>
                </li>
                <li><label style="width:150px">CODE：</label>
                    <input value="$!{book.code}" id="code" name="code" type="text" class="dfinput-345"
                           maxlength=200/>
                </li>



                <li><label style="width:150px">亚马孙平台</label>
                    <textarea cols="1" rows="1" class="textinput" name="infos[0].url" >$!{url1}</textarea>
                </li>
                <li><label style="width:150px">京东书城</label>

                    <textarea cols="3" rows="3" class="textinput" name="infos[1].url" >$!{url2}</textarea>
                </li>
                <li><label style="width:150px">当当书城</label>
                    <input type="hidden" name="infos[2].source" value="3"/>
                    <textarea cols="1" rows="1" class="textinput" name="infos[2].url">$!{url3}</textarea>
                </li>
                <li><label style="width:150px">豆瓣平台</label>

                    <textarea cols="1" rows="1" class="textinput" name="infos[3].url" >$!{url4}</textarea>
                </li>


                <li>
                    <label style="width:150px">&nbsp;</label>
                    <input name="" type="button" class="btn" value="返回"
                           onclick="location.href='/crawler.html'"/>
                </li>
            </ul>
    </div>
    </form>
</div>
