<div class="page-heading">
    <h3>
        爬虫管理
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">爬虫管理</a></li>
        <li><a href="#">查看详细</a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li role="presentation" class="#if(!$source) active #else #end"><a
                        class="pjax-url " href="">基本信息</a></li>
                <li role="presentation" class="pjax-url #if($source==0) active #else #end"><a
                        class="pjax-url " href="">亚马逊</a></li>
                <li role="presentation" class="pjax-url #if($source==1) active #else #end"><a
                        class="pjax-url " href="">京东</a></li>
                <li role="presentation" class="pjax-url #if($source==2) active #else #end"><a
                        class="pjax-url " href="">当当</a></li>
                <li role="presentation" class="pjax-url #if($source==2) active #else #end"><a
                        class="pjax-url " href="">豆瓣</a></li>
            </ul>

            <section class="panel">
                <header class="panel-heading">

                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal dt-form" role="form" action="/crawler/save" method="post">
                        <input type="hidden" name="id" value="">

                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">标题</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="$!book.title"
                                       name="title" placeholder="标题">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">书名</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="$!book.name" name="name"
                                       placeholder="书名">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">亚马逊</label>
                            <input type="hidden" name="infos[0].source" value="1"/>

                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[0].url"
                                          required="required">$!url1</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">京东</label>
                            <input type="hidden" name="infos[1].source" value="2"/>

                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[1].url"
                                          required="required">$!url2</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">当当</label>
                            <input type="hidden" name="infos[2].source" value="3"/>

                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[2].url"
                                          required="required">$!url3</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">豆瓣</label>
                            <input type="hidden" name="infos[3].source" value="4"/>

                            <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[3].url"
                                          required="required">$!url4</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <a class="btn btn-default" href="javascript:history.back(-1)" type="button">返回</a>
                            </div>
                        </div>
                    </form>

                </div>
            </section>


        </div>
    </div>
</div>
