<div class="page-heading">
    <h3>
        爬虫管理
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">爬虫管理</a></li>
        <li><a href="#">编辑</a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    编辑
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal dt-form" role="form" action="/crawler/netbook/save" method="post">
                        <input type="hidden" name="id" value="$!book.id">

                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">标题(搜索用)</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="$!book.title"
                                       name="title" placeholder="标题">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">书名</label>

                            <div class="col-lg-10">
                                <input type="text" class="required validate[required] form-control" value="$!book.name"
                                       name="name"
                                       placeholder="书名">
                            </div>
                        </div>

                        #foreach($item in $list)
                            #if($item.source==1)
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">起点文学</label>
                                    <input type="hidden" name="infos[0].source" value="1"/>
                                    <input type="hidden" name="infos[0].id" value="$!item.id">

                                    <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[0].url"
                                          required="required">$!item.url</textarea>
                                    </div>
                                </div>
                            #elseif($item.source==2)
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">起点女生文学</label>
                                    <input type="hidden" name="infos[1].source" value="2"/>
                                    <input type="hidden" name="infos[1].id" value="$!item.id">
                                    <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[1].url"
                                          required="required">$!item.url</textarea>
                                    </div>
                                </div>

                            #elseif($item.source==3)
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">纵横文学</label>
                                    <input type="hidden" name="infos[2].source" value="3"/>
                                    <input type="hidden" name="infos[2].id" value="$!item.id">
                                    <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[2].url"
                                          required="required">$!item.url</textarea>
                                    </div>
                                </div>

                            #elseif($item.source==4)
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">百度贴吧</label>
                                    <input type="hidden" name="infos[3].source" value="4"/>
                                    <input type="hidden" name="infos[3].id" value="$!item.id">
                                    <div class="col-sm-10">
                                <textarea rows="6" class="form-control textInput" name="infos[3].url"
                                          required="required">$!item.url</textarea>
                                    </div>
                                </div>
                            #end
                        #end
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    提交
                                </button>
                                <a class="btn btn-default" href="javascript:history.back(-1)" type="button">返回</a>
                            </div>
                        </div>
                    </form>

                </div>
            </section>


        </div>
    </div>
</div>
