<div class="page-heading">
    <h3>
        系统管理
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">参数管理</a></li>

    </ul>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li role="presentation" class="pjax-url active">
                    <a class="pjax-url "
                       href="/crawler/view?id=$!book.id&source=$source.getType()">系统参数</a></li>

            </ul>

            <section class="panel">
                <div class="panel-body">
                ##                    搜索框
                    <div class="well searchBox">
                        <form id="pagerForm" class="form-inline dt-form dt-datatable-search-form" method="post"
                              action="">
                            <input type="hidden" name="source" value="$!source">

                            <div class="searchContent">

                                <button type="submit" class="btn btn-default dt-btn-submit">搜索</button>
                            </div>
                        </form>
                    </div>


                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>
                                    <a class="dt-table-select-all">全选</a>
                                </th>
                                <th>参数名称</th>
                                <th>内容</th>
                                <th>描述</th>
                                <th>修改时间</th>
                                <th>创建时间</th>
                                <th class="hidden-phone">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($option in $list)
                                <tr class="gradeC">
                                    <td class="center dt-checkbox-td">
                                        <input type="checkbox" value="$!{option.id}">
                                    </td>
                                    <td class="center">$!{option.name}</td>
                                    <td class="center">$!{option.codeValue}</td>
                                    <td class="center">$!{option.description}</td>
                                    <td class="center">$!dateUtils.toString(
                                        "yyyy-MM-dd HH:mm:ss",$option.updatedAt)</td>
                                    <td class="center">$!dateUtils.toString(
                                        "yyyy-MM-dd HH:mm:ss",$option.createdAt)</td>
                                    <td class="center hidden-phone">
                                        <a href="/sysoption/edit?id=$!{option.id}" class="tablelink">修改</a>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                        <div class="dt-page" data-current-page="$!page.currentPage" data-view-page-count="6"
                             data-page-total="$!page.getTotalPage()"></div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
