
<div class="page-heading">
    <h3>
        文学库
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">爬虫管理</a></li>
        <li><a href="#">爬虫列表</a></li>
    </ul>
</div>


<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    词库列表
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                ##                    搜索框
                    <div class="well searchBox">
                        <form id="pagerForm" class="form-inline dt-form dt-datatable-search-form" method="post"
                              action="">
                            <input type="hidden" name="source" value="$!source">

                            <div class="searchContent">
                                <div class="form-group">
                                    <label for="exampleInputName2">书名</label>
                                    <input type="text" class="form-control textInput" id="exampleInputName2"
                                           name="name"
                                           placeholder="" value="$!title">
                                </div>

                                <div class="form-group">
                                ##                                    <label for="exampleInputEmail2">爬取状态</label>
##                                    <select class="form-control" name="status">
##                                        <option value="-1">选择..</option>
##                                        <option #if($!status ==0 )
##                                                selected #end value="0">新建
##                                        </option>
##                                        <option #if($!status ==1 )
##                                                selected #end value="1">爬取中
##                                        </option>
##                                        <option #if($!status ==2 )
##                                                selected #end value="2">完成
##                                        </option>
##                                        <option #if($!status ==3 )
##                                                selected #end value="3">失败
##                                        </option>
##                                    </select>
                                </div>

                                <button type="submit" class="btn btn-default dt-btn-submit">搜索</button>
                            </div>
                        </form>
                    </div>

                ##                    操作
                    <div class="well operate-box">
                        <a class="btn btn-default" href="/crawler/create">
                            添加
                        </a>

                        <button class="btn btn-default dt-btn-batch"
                                data-batch-submit-url="">
                            批量爬取
                        </button>

                        <button class="btn btn-danger dt-btn-batch dt-btn-batch"
                                data-batch-submit-url="">批量删除
                        </button>
                    </div>
                ##                    标记tab
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="#if(!$source) active #else #end"><a
                                class="pjax-url " href="">全部</a></li>
                        <li role="presentation" class="pjax-url #if($source==0) active #else #end"><a
                                class="pjax-url " href="">新建</a></li>
                        <li role="presentation" class="pjax-url #if($source==1) active #else #end"><a
                                class="pjax-url " href="">爬取中</a></li>
                        <li role="presentation" class="pjax-url #if($source==2) active #else #end"><a
                                class="pjax-url " href="">爬虫</a></li>
                    </ul>

                ##                     展示表格
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>
                                    <a class="dt-table-select-all">全选</a>
                                </th>
                                <th>ID</th>
                                <th>词汇</th>
                                <th>更新时间</th>
                                <th>综合得分</th>
                                <th>热度得分</th>
                                <th>传播得分</th>
                                <th>口碑得分</th>
                                <th>潜力得分</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>


                                #foreach($item in $list)
                                <tr class="gradeC">
                                    <td><input name="ids" type="checkbox" value="$!{item.id}"/></td>
                                    <td>$!{item.title}</td>
                                    <td>$!{item.name}</td>
                                    <td>$!{item.code}</td>
                                    <td>
                                        #if($item.status==1)

                                            启用中
                                        #elseif($item.status==-1)
                                             删除


                                        #end</td>

                                    <td>
                                        <a href="/crawler/view.html?id=$!{item.id}" class="tablelink">查看</a>
                                        <a href="/crawler/edit.html?id=$!{item.id}" class="tablelink">修改</a> |
                                        <a href="javascript:doDelete('$!{item.id}')" class="tablelink"> 删除</a>
                                    </td>
                                </tr>


                                #end
                            </tbody>
                        </table>
                        <div class="dt-page" data-current-page="$!page.currentPage" data-view-page-count="6"
                             data-page-total="$!page.getTotalPage()"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
