@import "./components/jquery.fullPage.scss";
@import "./index/sec1.scss";
@import "./index/sec2.scss";
@import "./index/sec3.scss";
@import "./index/sec4.scss";
@import "./index/sec5.scss";
@import "./index/sec6.scss";
@import "./index/sec7.scss";
.section {overflow: hidden;min-width:100%;min-height:100%;}

#home_page{
	opacity:0;
	transition: opacity 500ms ease;
}

#home_page.active{
	opacity:1;
}

#loading{
	width:100%;
	height:100%;
	.loading_logo{
		display: block;
		background:url("../../assets/images/logo_bottom_gray@2x.png") no-repeat;
		background-size: 180px;
		position: absolute;
		left:50%;
		top:50%;
		width:180px;
		height:54px;
		margin-left: -90px;
		margin-top: -27px;
	}

}



@keyframes fadeUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
