@import "./common/reset.scss";
@import "./common/common.scss";
@import "./components/jquery.fullPage.scss";
.section {
    overflow: hidden;
}

.sec_1 {
    position: relative;
    padding: 20px 40px;
    overflow: hidden;
    .background_layer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('../assets/images/index/home_page_1_bg_pic.jpg') 0 100% no-repeat;
        background-size: cover;
        transition: 15s ease-out 1s;
        z-index: -1;
    }
    header {
        width: 100%;
        height: 54px;
        overflow: hidden;
        nav {
            display: block;
            width: 100%;
            font-size: 16px;
            min-width: 940px;
            .logo {
                display: inline-block;
                float: left;
                font-size: 12px;
                background: url('../assets/images/index/logo_withoutchi.png') 50% no-repeat;
                vertical-align: middle;
                background-size: 179px;
                width: 179px;
                height: 54px;
                line-height: 54px;
            }
            ul {
                line-height: 54px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    line-height: 54px;
                    overflow: hidden;
                    a {
                        text-align: center;
                        position: relative;
                        color: #fff;
                        display: inline-block;
                        vertical-align: middle;
                        width: 74px;
                        line-height: 54px;
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
                        &::after {
                            content: '';
                            position: absolute;
                            left: 150%;
                            bottom: 2px;
                            background: #fff;
                            width: 54px;
                            margin-left: -27px;
                            height: 3px;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
                            transition: left 300ms ease;
                        }
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                        line-height: 54px;
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
                    }
                    img {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        line-height: 54px;
                        vertical-align: -15%;
                        border: 1px solid rgba(255, 255, 255, 0.25);
                        border-radius: 100%;
                        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
                    }
                    button {
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                        transition: color 300ms ease, background 300ms ease, border 300ms ease;
                    }
                }
            }
            .home_page_nav_left {
                float: left;
                margin-left: 90px;
                li a:hover {
                    &:after {
                        left: 50%;
                    }
                }
            }
            .home_page_nav_right {
                float: right;
                #register {
                    border: 1px solid #ffffff;
                    border-radius: 2px;
                    width: 79px;
                    height: 33px;
                    color: #ffffff;
                    font-size: 14px;
                    background: transparent;
                    &:hover {
                        background: #ffffff;
                        border: 2px solid #ffffff;
                        color: #20c9bd;
                    }
                }
                #login {
                    border: 1px solid #00ffed;
                    border-radius: 2px;
                    background: transparent;
                    width: 98px;
                    height: 33px;
                    font-size: 14px;
                    color: #00ffed;
                    &:hover {
                        background: #20c9bd;
                        border: 1px solid #20c9bd;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .main_title {
        display: block;
        background: url("../assets/images/index/main_title.png") 50% no-repeat;
        margin: 30vh auto 0 auto;
        background-size: 810px;
        width: 810px;
        height: 90px;
    }
    .search_bar_container {
        display: block;
        width: 705px;
        margin: 0 auto;
        margin-top: 135px;
        .serarch_bar_content {
            font-size: 0;
            position: relative;
            input {
                display: block;
                vertical-align: top;
                background: #fff;
            }
            .search {
                background: #ffffff;
                border: 1px solid rgba(56, 56, 56, 0.10);
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
                border-radius: 2px;
                width: 100%;
                height: 50px;
                font-size: 18px;
                font-weight: 100;
                padding-left: 20px;
            }
            .submit {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                background: url("../assets/images/search_main_ico.png") no-repeat center center, transparent;
                background-size: 23px;
                border-radius: 2px;
                padding: 0;
                width: 43px;
                height: 50px;
            }
        }
    }
}

.sec_1.active {
    .background_layer {
        transform: scale(1.06);
    }
}

.sec_2 {
    background: #fff;
    padding-top: 120px;
    position: relative;
    .title {
        font-size: 60px;
        color: rgba(55, 55, 55, 0.80);
        text-align: center;
        font-weight: 800;
    }
    .sec_2_container {
        width: 1200px;
        margin: 125px auto 0 auto;
        .tab_nav {
            font-size: 30px;
            float: left;
            width: 420px;
            li {
                cursor: pointer;
                text-align: center;
                height: 80px;
                border-radius: 2px;
                color: rgba(55, 55, 55, 0.60);
                border-bottom: 1px solid rgba(56, 56, 56, 0.30);
                transition: all 300ms ease;
                line-height: 80px;
                &:last-child {
                    border: none;
                }
                &.active {
                    background: #13aca4;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
                    border: none;
                    color: #fff;
                }
                &:hover {
                    color: #00a69d;
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
        .tab_content {
            font-size: 30px;
            margin-left: 520px;
            li {
                display: none;
                .tab_content_title {
                    line-height: 80px;
                    text-align: center;
                    color: rgba(55, 55, 55, 0.80);
                }
                .tab_summary {
                    line-height: 26px;
                    text-align: center;
                    font-size: 14px;
                    padding: 0 30px;
                    color: rgba(55, 55, 55, 0.60);
                }
                .tab_list {
                    font-size: 0;
                    .tab_list_content {
                        position: relative;
                        display: inline-block;
                        margin-top: 50px;
                        width: 50%;
                        padding-left: 60px;
                        .tab_list_title {
                            font-size: 18px;
                            margin-bottom: 20px;
                            font-weight: 600;
                            color: rgba(55, 55, 55, 0.80);
                        }
                        .tab_list_summary {
                            font-size: 14px;
                            color: rgba(55, 55, 55, 0.60);
                            line-height: 26px;
                            width: 220px;
                            height: 105px;
                            overflow: hidden;
                            text-align: justify;
                        }
                        .icon {
                            position: absolute;
                            left: -15px;
                            top: 10px;
                            width: 64px;
                            height: 64px;
                        }
                        .icon_trend {
                            background: url("../assets/images/index/icon_trend.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_prop {
                            background: url("../assets/images/index/icon_prop.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_heat {
                            background: url("../assets/images/index/icon_heat.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_fans {
                            background: url("../assets/images/index/icon_fans.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_heart {
                            background: url("../assets/images/index/icon_heart.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_tag {
                            background: url("../assets/images/index/icon_tag.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_movie {
                            background: url("../assets/images/index/icon_movie.png") no-repeat;
                            background-size: 64px;
                        }
                        .icon_users {
                            background: url("../assets/images/index/icon_users.png") no-repeat;
                            background-size: 64px;
                        }
                    }
                }
            }
            li.active {
                display: block;
                animation: fadeUp 300ms forwards;
            }
        }
    }
    .sec_2_background {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../assets/images/index/sec2_bg.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 140px;
        .inner {
            position: relative;
            width: 1200px;
            height: 140px;
            margin: 0 auto;
            .sec_2_computer {
                display: block;
                position: absolute;
                background: url("../assets/images/index/sec2_computer.png") no-repeat;
                bottom: 40px;
                width: 429px;
                height: 246px;
                background-size: 429px;
            }
            .plus {
                float: left;
                font-size: 48px;
                color: rgba(255, 255, 255, 0.60);
                line-height: 140px;
                margin-left: 450px;
                span {
                    font-size: 36px;
                }
            }
            .example_report {
                float: right;
                display: inline-block;
                vertical-align: middle;
                background: rgba(18, 172, 163, 0.80);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
                border-radius: 2px;
                font-size: 24px;
                color: #ffffff;
                text-align: center;
                line-height: 65px;
                width: 235px;
                margin-top: 37px;
            }
        }
    }
}

.sec_2.active {}

.sec_3 {
    background: #fff;
    .sec_3_background {
        width: 100%;
        height: 350px;
        background: url("../assets/images/index/sec3_bg.png") no-repeat;
        padding-top: 118px;
        background-size: cover;
        .title {
            font-size: 60px;
            text-align: center;
            color: #ffffff;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
        }
        .summary {
            margin-top: 30px;
            font-size: 32px;
            color: #ffffff;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
            text-align: center;
        }
    }
    .sec_3_list {
        width: 1200px;
        margin: 120px auto 0 auto;
        font-size: 0;
        li {
            cursor: pointer;
            display: inline-block;
            width: 25%;
            text-align: center;
            .list_pic {
                display: block;
                width: 180px;
                height: 180px;
                border-radius: 100%;
                background: rgba(215, 215, 215, 0.40);
                margin: 0 auto;
            }
            .list_title {
                display: block;
                font-size: 32px;
                color: #383838;
                margin-top: 60px;
            }
        }
    }
    .sec_3_list_summary {
        width: 1200px;
        padding: 0 200px;
        margin: 130px auto 0 auto;
        font-size: 24px;
        color: rgba(31, 26, 26, 0.60);
        line-height: 40px;
        p {
            position: relative;
            text-indent: 2em;
            &::before {
                content: '';
                position: absolute;
                left: -110px;
                top: -15px;
                background: url("../assets/images/index/silmon.png") no-repeat;
                background-size: 51px;
                width: 51px;
                height: 40px;
                transform: rotate(180deg);
            }
            &::after {
                content: '';
                position: absolute;
                right: -110px;
                top: 10px;
                background: url("../assets/images/index/silmon.png") no-repeat;
                background-size: 51px;
                width: 51px;
                height: 40px;
            }
        }
    }
}

.sec_3.active {}

.sec_4 {
    font-size: 0;
    position: relative;
    .sec_4_section {
        cursor: pointer;
        position: relative;
        float: left;
        width: 50%;
        height: 50%;
        font-size: 54px;
        transition: all 300ms ease;
        .mask {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url("../assets/images/index/sec4_mask.png") no-repeat;
            background-size: cover;
            transition: opacity 300ms ease;
            opacity: 0.4;
        }
        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            transition: all 300ms ease;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -51px;
                top: -30px;
                width: 102px;
                height: 4px;
                background: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
        .sec_4_info {
            position: absolute;
            width: 500px;
            height: 160px;
            left: 50%;
            margin-left: -250px;
            top: 60%;
            opacity: 0;
            transition: all 300ms ease;
            .summary {
                color: #fff;
                font-weight: 100;
                text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
                font-size: 18px;
                text-align: center;
            }
            .icons_list {
                width: 435px;
                margin: 60px auto 0 auto;
                font-size: 0;
                li {
                    display: inline-block;
                    width: 145px;
                    height: 60px;
                    .sec_4_icon {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        vertical-align: top;
                    }
                    em {
                        display: inline-block;
                        margin-left: 25px;
                        vertical-align: top;
                        color: #fff;
                        width: 60px;
                        font-weight: 100;
                        font-style: normal;
                        line-height: 60px;
                        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
                        font-size: 18px;
                    }
                    .sec_4_icon.icon_rank {
                        background: url("../assets/images/index/sec_4_icon_rank.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_tv {
                        background: url("../assets/images/index/sec_4_icon_tv.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_prop {
                        background: url("../assets/images/index/sec_4_icon_prop.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_award {
                        background: url("../assets/images/index/sec_4_icon_award.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_trend {
                        background: url("../assets/images/index/sec_4_icon_trend.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_heart {
                        background: url("../assets/images/index/sec_4_icon_heart.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_star {
                        background: url("../assets/images/index/sec_4_icon_star.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_data {
                        background: url("../assets/images/index/sec_4_icon_data.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_channel {
                        background: url("../assets/images/index/sec_4_icon_channel.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_report {
                        background: url("../assets/images/index/sec_4_icon_report.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_charts {
                        background: url("../assets/images/index/sec_4_icon_charts.png") no-repeat;
                        background-size: 60px;
                    }
                    .sec_4_icon.icon_publish {
                        background: url("../assets/images/index/sec_4_icon_publish.png") no-repeat;
                        background-size: 60px;
                    }
                }
            }
        }
        &:hover {
            .mask {
                opacity: 0;
            }
            .title {
                transform: translate(-50%, -100%);
                color: #EFD8B0;
                &::before {
                    background: #EFD8B0;
                }
            }
            .sec_4_info {
                opacity: 1;
                top: 50%;
            }
        }
    }
    .employment {
        background: url("../assets/images/index/4_1.png") no-repeat;
        background-size: cover;
    }
    .invest {
        background: url("../assets/images/index/4_2.png") no-repeat;
        background-size: cover;
    }
    .copyright {
        background: url("../assets/images/index/4_3.png") no-repeat;
        background-size: cover;
    }
    .distribution {
        background: url("../assets/images/index/4_4.png") no-repeat;
        background-size: cover;
    }
}

.sec_5 {
    background: #fff;
    .background {
        width: 100%;
        height: 665px;
        background: url("../assets/images/index/sec_5_bg.png") 50% 50% no-repeat;
        background-size: cover;
        padding-top: 140px;
        .title {
            text-align: center;
            font-size: 60px;
            color: #fff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .summary {
            color: #fff;
            font-size: 32px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-weight: 100;
            margin-top: 30px;
        }
        .sec_5_tab_slide {
            position: relative;
            margin: 80px auto 0 auto;
            left: 50%;
            margin-left: -820px;
            width: 1640px;
            height: 190px;
            .sec_5_tab_slide_nav {
                position: absolute;
                left: 50%;
                width: 1640px;
                margin-left: -820px;
                height: 190px;
                overflow: hidden;
                font-size: 0;
                li {
                    display: inline-block;
                    width: 328px;
                    height: 190px;
                    .logo {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    .logo.logo_lstv {
                        background: url("../assets/images/index/lstv.png") 50% 50% no-repeat;
                    }
                    .logo.logo_hbo {
                        background: url("../assets/images/index/hbo.png") 50% 50% no-repeat;
                    }
                    .logo.logo_netflix {
                        background: url("../assets/images/index/netflix.png") 50% 50% no-repeat;
                    }
                    .logo.logo_marvel {
                        background: url("../assets/images/index/marvel.png") 50% 50% no-repeat;
                    }
                    .logo.logo_disney {
                        background: url("../assets/images/index/disney.png") 50% 50% no-repeat;
                    }
                }
            }
        }
    }
    .sec_5_tab_slide_content {
        width: 1200px;
        margin: 42px auto 0 auto;
        padding: 0 100px;
        .sec_5_tab_slide_title {
            font-size: 32px;
            color: #13ACA4;
            text-align: center;
        }
        .sec_5_tab_slide_subtitle {
            font-size: 18px;
            color: rgba(56, 56, 56, 0.4);
            margin-top: 23px;
            text-align: center;
        }
        .sec_5_tab_slide_summery {
            font-size: 18px;
            color: rgba(31, 26, 26, 0.60);
            line-height: 40px;
            position: relative;
            text-indent: 2em;
            margin-top: 64px;
            &::before {
                content: '';
                position: absolute;
                left: -110px;
                top: -15px;
                background: url("../assets/images/index/silmon.png") no-repeat;
                background-size: 51px;
                width: 51px;
                height: 40px;
                transform: rotate(180deg);
            }
            &::after {
                content: '';
                position: absolute;
                right: -110px;
                top: 10px;
                background: url("../assets/images/index/silmon.png") no-repeat;
                background-size: 51px;
                width: 51px;
                height: 40px;
            }
        }
    }
}

.sec_6 {
    background: url("../assets/images/index/sec_6_bg.png") 50% 50% no-repeat;
    background-size: cover;
    .title {
        text-align: center;
        margin-top: 118px;
        font-size: 60px;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .subtitle {
        margin-top: 32px;
        font-size: 32px;
        text-align: center;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .sec_6_product {
        position: absolute;
        left: 50%;
        margin-left: -655px;
        width: 1311px;
        height: 620px;
        bottom: 40px;
        .prev {
            display: block;
            position: absolute;
            background: url("../assets/images/index/btn_arrow.png") 50% 50% no-repeat, transparent;
            background-size: 48px;
            width: 130px;
            height: 130px;
            left: -130px;
            top: 50%;
            margin-top: -65px;
        }
        .next {
            display: block;
            position: absolute;
            background: url("../assets/images/index/btn_arrow.png") 50% 50% no-repeat, transparent;
            transform: rotate(180deg);
            background-size: 48px;
            width: 130px;
            height: 130px;
            right: -130px;
            top: 50%;
            margin-top: -65px;
        }
        .sec_6_product_list_container {
            position: relative;
            width: 1311px;
            height: 620px;
            overflow: hidden;
            .sec_6_product_list {
                position: absolute;
                left: 0;
                top: 0;
                width: 1311px;
                font-size: 0;
                .single_product {
                    display: inline-block;
                    width: 437px;
                    .product_container {
                        width: 390px;
                        height: 620px;
                        margin: 0 auto;
                        background: #fff;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
                        padding-top: 18px;
                        .product_title {
                            font-size: 24px;
                            color: rgba(55, 55, 55, 0.80);
                            text-align: center;
                        }
                        .product_logo {
                            margin-top: 27px;
                            width: 100%;
                            height: 160px;
                            &.film_row_piece {
                                background: rgba(36, 113, 161, 0.80)
                            }
                            &.simulator {
                                background: rgba(36, 161, 149, 0.80)
                            }
                            &.time_machine {
                                background: rgba(36, 161, 99, 0.80)
                            }
                        }
                        .product_info {
                            margin-top: 45px;
                            width: 100%;
                            height: 230px;
                            li {
                                margin-top: 32px;
                                text-align: center;
                                width: 100%;
                                font-size: 18px;
                                color: rgba(55, 55, 55, 0.60);
                            }
                        }
                        .product_btn {
                            display: block;
                            margin: 0 auto;
                            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
                            border-radius: 2px;
                            width: 235px;
                            line-height: 65px;
                            font-size: 24px;
                            color: #ffffff;
                            text-align: center;
                            &.film_row_piece {
                                background: rgba(36, 113, 161, 0.80)
                            }
                            &.simulator {
                                background: rgba(36, 161, 149, 0.80)
                            }
                            &.time_machine {
                                background: rgba(36, 161, 99, 0.80)
                            }
                        }
                    }
                }
            }
        }
    }
}

.sec_7 {
    background: #fff;
    position: relative;
    padding-top: 70px;
    .title {
        font-size: 60px;
        color: #383838;
        text-align: center;
    }
    .summary {
        font-size: 32px;
        color: rgba(56, 56, 56, 0.6);
        margin-top: 30px;
        text-align: center;
    }
    .two_in_one_form {
        width: 720px;
        margin: 85px auto 0 auto;
        .two_in_one_form_content {
            margin-top: 20px;
            position: relative;
            input {
                display: block;
                width: 100%;
                background: rgba(227, 232, 236, 0.80);
                border: 1px solid rgba(56, 56, 56, 0.10);
                border-radius: 2px;
                height: 78px;
                font-size: 24px;
                color: rgba(55, 55, 55, 0.30);
                padding: 0 45px;
            }
        }
        .submit {
            margin-top: 20px;
            background: rgba(18, 172, 163, 0.80);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
            border-radius: 2px;
            width: 100%;
            height: 80px;
            font-size: 29.53px;
            color: #ffffff;
        }
        .info {
            margin-top: 20px;
            text-indent: 1em;
            font-size: 18px;
            color: rgba(55, 55, 55, 0.40);
            text-align: left;
            a {
                font-weight: 800;
                color: rgba(55, 55, 55, 0.60);
            }
        }
    }
    .sec_7_footer {
        width: 100%;
        height: 340px;
        position: absolute;
        bottom: 0;
        background: #303747;
        .inner {
            width: 1280px;
            height: 236px;
            margin: 54px auto 0 auto;
            font-size: 0;
            .sec_7_section_left {
                display: inline-block;
                vertical-align: top;
                width: 249px;
                font-size: 18px;
                color: #fff;
                li {
                    margin-bottom: 24px;
                    a {
                        color: #5d7694;
                    }
                    .dreamy_ewm {
                        display: block;
                        background: url("../assets/images/index/dreamy_ewm.png") no-repeat;
                        width: 102px;
                        height: 102px;
                        background-size: 102px;
                    }
                }
            }
            .sec_7_section_right {
                display: inline-block;
                vertical-align: top;
                width: 284px;
                .ipcool_logo {
                    position: relative;
                    display: block;
                    background: url('../assets/images/index/logo_withoutchi.png') 50% no-repeat;
                    width: 179px;
                    height: 54px;
                    background-size: 179px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 284px;
                        height: 1px;
                        background: rgba(255, 255, 255, 0.40);
                        bottom: -20px;
                    }
                }
                ul {
                    margin-top: 40px;
                    li {
                        margin-bottom: 20px;
                        font-size: 14px;
                        color: #ffffff;
                    }
                }
            }
        }
        .sub_footer {
            width: 100%;
            height: 50px;
            background: #262a36;
            p {
                color: #5d7694;
                font-size: 14px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .sec_1 {
        .main_title {
            background: url("../assets/images/index/main_title.png") 50% no-repeat;
            background-size: 620px;
            width: 620px;
            height: 60px;
        }
        .search_bar_container {
            display: block;
            width: 535px;
            margin: 0 auto;
            margin-top: 98px;
        }
    }
    .sec_2 {
        padding-top: 100px;
        .title {
            font-size: 40px;
        }
        .sec_2_container {
            margin: 120px auto 0 auto;
            .tab_nav {
                font-size: 20px;
                width: 350px;
                li {
                    height: 60px;
                    line-height: 60px;
                }
            }
            .tab_content {
                font-size: 24px;
                li {
                    display: none;
                    .tab_content_title {
                        line-height: 60px;
                    }
                }
            }
        }
    }
    .sec_3 {
        .sec_3_background {
            padding-top: 100px;
            .title {
                font-size: 40px;
            }
            .summary {
                font-size: 24px;
            }
        }
        .sec_3_list {
            margin: 75px auto 0 auto;
            li {
                .list_title {
                    font-size: 28px;
                }
            }
        }
        .sec_3_list_summary {
            margin: 100px auto 0 auto;
            font-size: 22px;
            line-height: 36px;
        }
    }
    .sec_4 {
        .sec_4_section {
            font-size: 46px;
        }
    }
    .sec_5 {
        .background {
            height: 590px;
            padding-top: 100px;
            .title {
                font-size: 40px;
            }
            .summary {
                font-size: 24px;
                margin-top: 20px;
            }
            .sec_5_tab_slide {
                margin: 100px auto 0 auto;
                margin-left: -640px;
                width: 1280px;
                height: 100px;
                .sec_5_tab_slide_nav {
                    width: 1280px;
                    margin-left: -640px;
                    height: 100px;
                    li {
                        width: 256px;
                        height: 100px;
                    }
                }
            }
        }
        .sec_5_tab_slide_content {
            width: 1200px;
            margin: 42px auto 0 auto;
            padding: 0 100px;
            .sec_5_tab_slide_title {
                font-size: 32px;
            }
            .sec_5_tab_slide_subtitle {
                text-align: center;
            }
            .sec_5_tab_slide_summery {
                font-size: 18px;
                line-height: 40px;
                margin-top: 40px;
            }
        }
    }
    .sec_6 {
        .title {
            margin-top: 100px;
            font-size: 40px;
        }
        .subtitle {
            margin-top: 20px;
            font-size: 24px;
        }
        .sec_6_product {
            position: absolute;
            left: 50%;
            margin-left: -490px;
            width: 980px;
            height: 490px;
            bottom: 60px;
            .sec_6_product_list_container {
                width: 980px;
                height: 490px;
                .sec_6_product_list {
                    width: 980px;
                    .single_product {
                        display: inline-block;
                        width: 327px;
                        .product_container {
                            width: 300px;
                            height: 490px;
                            padding-top: 14px;
                            .product_title {
                                font-size: 18px;
                            }
                            .product_logo {
                                margin-top: 22px;
                                height: 127px;
                            }
                            .product_info {
                                margin-top: 20px;
                                width: 100%;
                                height: 175px;
                                li {
                                    margin-top: 28px;
                                    font-size: 14px;
                                }
                            }
                            .product_btn {
                                width: 190px;
                                line-height: 52px;
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }
    }
    .sec_7 {
        padding-top: 70px;
        .title {
            font-size: 40px;
        }
        .summary {
            font-size: 24px;
            margin-top: 30px;
        }
        .two_in_one_form {
            width: 500px;
            margin: 40px auto 0 auto;
            .two_in_one_form_content {
                margin-top: 20px;
                position: relative;
                input {
                    height: 60px;
                    font-size: 20px;
                    padding: 0 35px;
                }
            }
            .submit {
                height: 60px;
                font-size: 24px;
            }
            .info {
                font-size: 14px;
            }
        }
        .sec_7_footer {
            width: 100%;
            height: 300px;
            position: absolute;
            bottom: 0;
            background: #303747;
            .inner {
                width: 980px;
                height: 220px;
                margin: 50px auto 0 auto;
                .sec_7_section_left {
                    width: 174px;
                    font-size: 18px;
                    color: #fff;
                    li {
                        margin-bottom: 18px;
                    }
                }
                .sec_7_section_right {
                    ul {
                        margin-top: 30px;
                        li {
                            margin-bottom: 14px;
                        }
                    }
                }
            }
            .sub_footer {
                width: 100%;
                height: 30px;
                background: #262a36;
                p {
                    color: #5d7694;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
