@import "./components/jquery.fullPage.scss";
@import "./index/sec1.scss";
@import "./index/sec2.scss";
@import "./index/sec3.scss";
@import "./index/sec4.scss";
@import "./index/sec5.scss";
@import "./index/sec6.scss";
@import "./index/sec7.scss";
.section {overflow: hidden;}

@keyframes fadeUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
