<!-- 底 -->
##<div>
    <footer>
        <nav>
            <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="/rank/list.html">排行榜</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <div class="copyright">
                <a href="/" class="logo"></a>
                <p>杭州追米文化创意有限公司  Copyright 2006-2016 IP100.club Inc. All rights reserved.</p>
            </div>
        </nav>
    </footer>
##</div>

