<link rel="stylesheet" type="text/css" href="http://ipcool.me/dist/index.css">
<link rel="stylesheet" type="text/css" href="http://ipcool.me/dist/rank_list.css">
<link rel="stylesheet" type="text/css" href="http://ipcool.me/dist/record.css">
<link rel="stylesheet" type="text/css" href="http://ipcool.me/dist/searchresult.css">
<link rel="stylesheet" type="text/css" href="http://ipcool.me/dist/sidebar.css">
<link rel="stylesheet" type="text/css" href="http://ipcool.me/program_detail_page.css">