<div class="popup_box sign" id="popup_sign">
    <button class="close"></button>
    <span class="btn_back"></span>
    <ul class="nav">
        <li class="login">登录</li>
        <li class="reg">注册</li>
    </ul>
    <ul class="sign_content">
        <li class="active nav_login">
            <h3 class="title">登录IP库</h3>
            <p class="content">开始您的大数据之旅</p>
            <div class="form sign_form">
                <div class="input_container">
                    <div class="input_content err_from_server">
                        <span class="err_msg">异常错误信息</span>
                        <input type="text" class="input_phone" required placeholder="手机号码" name="phone_number">
                    </div>
                    <div class="input_content">
                        <span class="err_msg">异常错误信息</span>
                        <input type="password" maxlength="16" placeholder="密码" required name="password">
                    </div>
                </div>
                <button class="submit">登录</button>
                <div class="line clearfix">
                    <div class="c_container">
                        <input type="checkbox" name="remember_pwd">
                        <span>记住我</span>
                    </div>
                    <button class="forgot_pwd">忘记密码?</button>
                </div>
            </div>
        </li>
        <li class="nav_reg">
            <h3 class="title">加入IP库</h3>
            <p class="content">开始您的大数据之旅</p>
            <div class="form sign_form">
                <div class="input_container">
                    <div class="verify_container">
                        <div class="input_content">
                            <span class="err_msg">异常错误信息</span>
                            <input type="text" required name="userName" autocomplete="off" data-required="请输入昵称" placeholder="昵称" name="">
                        </div>
                        <div class="input_content get_verify_code_content">
                            <span class="err_msg">异常错误信息</span>
                            <input type="text" required class="input_phone" autocomplete="off" name="phone_number" maxlength="11" placeholder="手机号码" name="">
                            <span class="get_verify_code">获取验证码</span>
                        </div>
                    </div>
                    <div class="input_content err_from_server">
                        <span class="err_msg">异常错误信息</span>
                        <input type="text" required name="verify_code" autocomplete="off" data-required="请输入验证码" placeholder="验证码" name="">
                    </div>
                    <div class="input_content">
                        <span class="err_msg">异常错误信息</span>
                        <input type="password" required name="password" autocomplete="off" maxlength="16" placeholder="设置密码" name="">
                    </div>
                </div>
                <button class="submit">注册</button>
            </div>
        </li>
        <li>
            <h3 class="title">找回密码</h3>
            <p class="content">验证您的手机号码</p>
            <div class="form">
                <div class="input_container">
                    <div class="input_content">
                        <input type="text" placeholder="手机号码" name="">
                    </div>
                    <div class="input_content">
                        <input type="password" placeholder="验证码" name="">
                    </div>
                </div>
                <button class="submit go_find_pwd">验证手机号</button>
            </div>
        </li>
        <li>
            <h3 class="title">设置新密码</h3>
            <p class="content">设置您新的IP库密码</p>
            <div class="form">
                <div class="input_container">
                    <div class="input_content">
                        <input type="password" placeholder="新密码" name="">
                    </div>
                    <div class="input_content">
                        <input type="password" placeholder="重复新密码" name="">
                    </div>
                </div>
                <button class="submit">更新密码</button>
            </div>
        </li>
    </ul>
</div>