<header class="ipcool_hearder">
    <nav class="clearfix">
        <span class="logo"></span>
        <ul class="home_page_nav_left">
            <li><a href="/">首页</a></li>
            <li><a href="/rank/list">排行</a></li>
            <li><a href="/about/empty">机遇</a></li>
            <li><a href="/about/empty">人才</a></li>
            <li><a href="/about/us">关于</a></li>
        </ul>
        <ul class="home_page_nav_right">
##            <li><a href="#">动态</a></li>
            #if($!thisUser.userKey)
##                <li><a href="/user/auth?pageName=auth">认证</a></li>
                <li><a href="/about/empty">认证</a></li>
                <li class="tooltip_trigger" id="currentUserTrigger">$!thisUser.username</li>
                <li id="currentUser"><img src="$!thisUser.imageUrl"></li>
            #else
                <li>
                    <button id="login">登录</button>
                </li>
                <li>
                    <button id="register">注册</button>
                </li>
            #end
        </ul>
    </nav>
</header>



