<ul class="sidebar_nav">
    <li class="user_info">
        <div class="user_avatar_container">
            <span class="avatar_mask"></span>
            <img src="$!thisUser.imageUrl">
        </div>
        <h2 class="user_name">$!thisUser.username</h2>
        <h6 class="user_signature">我是90后牛逼闪闪的新锐导演</h6>
    </li>
    <li><a href="">我关注的</a></li>
    <li class="active"><a href="">帐号信息</a></li>
    <li><a href="">修改密码</a></li>
    <li><a href="">历史纪录</a></li>
</ul>