<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/rabbit  
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
       http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <rabbit:connection-factory
            id="connectionFactory"
            host="${rabbit_host}"
            port="${rabbit_port}"
            username="${rabbit_username}"
            password="${rabbit_password}"
            channel-cache-size="${channel_cache_size}"/>

    <rabbit:admin connection-factory="connectionFactory"/>
    <!--队列服务-->
    <bean id="queueService" class="com.dreamy.service.mq.QueueServiceImpl">
        <property name="template" ref="amqpTemplate"/>
        <property name="rabbitTemplate" ref="defaultTemplate"/>
    </bean>


    <!--默认配置模版-->
    <rabbit:template id="defaultTemplate" connection-factory="connectionFactory"
                     message-converter="jsonMessageConverter"/>

    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="directExchange"/>


    <rabbit:direct-exchange name="directExchange">
        <rabbit:bindings>
            <rabbit:binding queue="${queue_crawler_comment}"/>
            <rabbit:binding queue="${queue_crawler_keyword}"/>
            <rabbit:binding queue="${queue_crawler_keyword_weixin}"/>
            <rabbit:binding queue="${queue_crawler_keyword_weibo}"/>
            <rabbit:binding queue="${queue_crawler_so_index}"/>
            <rabbit:binding queue="${queue_crawler_news_sougou}"/>
            <rabbit:binding queue="${queue_crawler_douban_book}"/>
            <rabbit:binding queue="${queue_crawler_news_sougou}"/>
            <rabbit:binding queue="${queue_crawler_douban_book_tag}"/>
            <rabbit:binding queue="${crawler_book_isbn_amazon}"></rabbit:binding>
            <rabbit:binding queue="${crawler_book_isbn_jd}"></rabbit:binding>
            <rabbit:binding queue="${crawler_book_isbn_dangdang}"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.JsonMessageConverter"/>
    <bean id="simpleMessageConverter" class="org.springframework.amqp.support.converter.SimpleMessageConverter"/>


    <!-- 数据转化 -->

    <!--队列声明-->
    <rabbit:queue name="${queue_crawler_comment}"/>
    <rabbit:queue name="${queue_crawler_keyword}"/>
    <rabbit:queue name="${queue_crawler_keyword_weixin}"/>
    <rabbit:queue name="${queue_crawler_keyword_weibo}"/>
    <rabbit:queue name="${queue_crawler_so_index}"/>
    <rabbit:queue name="${queue_crawler_news_sougou}"/>
    <rabbit:queue name="${queue_crawler_douban_book}"/>
    <rabbit:queue name="${queue_crawler_douban_book_tag}"/>
    <rabbit:queue name="${crawler_book_isbn_jd}"/>
    <rabbit:queue name="${crawler_book_isbn_amazon}"/>
    <rabbit:queue name="${crawler_book_isbn_dangdang}"/>


    <bean id="listenerErrorHandler" class="com.dreamy.crawler.listen.ListenerErrorHandler"/>

    <!--亚马逊-->
    <bean id="amazonBookQueueHandler" class="com.dreamy.crawler.listen.AmazonBookQueueHandler"/>



    <bean id="crawlerDoubanBookQueueHandler" class="com.dreamy.crawler.listen.CrawlerDoubanBookQueueHandler"/>
    <!--当当-->
    <bean id="dangBookQueueHandler" class="com.dreamy.crawler.listen.DangDangBookQueueHandler"/>
    <!--京东-->
    <bean id="jdBookQueueHandler" class="com.dreamy.crawler.listen.JdBookQueueHandler"/>
    <!--评论-->
    <bean id="commentEventQueueHandler" class="com.dreamy.crawler.listen.CommentEventQueueHandler"/>
    <!--关键词-->

    <bean id="keyWordEventQueueHandler" class="com.dreamy.crawler.listen.KeyWordEventQueueHandler"/>

    <bean id="keyWordWeiXinEventQueueHandler" class="com.dreamy.crawler.listen.KeyWordWeiXinEventQueueHandler"/>

    <bean id="keyWordWeiBoCrawlerQueueHandler" class="com.dreamy.crawler.listen.KeyWordWeiBoCrawlerQueueHandler"/>

    <!--360指数-->

    <bean id="soIndexEventQueueHandler" class="com.dreamy.crawler.listen.SoIndexEventQueueHandler"/>
    <!--新闻媒体 news.sougou-->
    <bean id="newsMediaQueueHandler" class="com.dreamy.crawler.listen.NewsMediaQueueHandler"/>


    <!--队列监听-->
    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="commentEventQueueHandler" method="onMessage" queues="${queue_crawler_comment}"/>
    </rabbit:listener-container>
    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="keyWordEventQueueHandler" method="onMessage" queues="${queue_crawler_keyword}"/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="keyWordWeiXinEventQueueHandler" method="onMessage"
                         queues="${queue_crawler_keyword_weixin} "/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="keyWordWeiBoCrawlerQueueHandler" method="onMessage"
                         queues="${queue_crawler_keyword_weibo} "/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="soIndexEventQueueHandler" method="onMessage" queues="${queue_crawler_so_index}"/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="newsMediaQueueHandler" method="onMessage" queues="${queue_crawler_news_sougou}"/>
    </rabbit:listener-container>


    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="crawlerDoubanBookQueueHandler" method="onMessage" queues="${queue_crawler_douban_book}"/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="jdBookQueueHandler" method="onMessage" queues="${crawler_book_isbn_jd}"/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="amazonBookQueueHandler" method="onMessage" queues="${crawler_book_isbn_amazon}"/>
    </rabbit:listener-container>

    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="1"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="dangBookQueueHandler" method="onMessage" queues="${crawler_book_isbn_dangdang}"/>
    </rabbit:listener-container>

</beans>  