
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="$!{staticPath}/static/css/admin_style.css" rel="stylesheet" type="text/css" />
<link href="$!{staticPath}/static/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
function doSave(){
	var name = document.getElementById("name");
	if(name.value == ""){
		addFieldError("角色名不能为空");
		return;
	}
	var displayOrder = document.getElementById("displayOrder");
	if(displayOrder.value == ""){
		addFieldError("排序号不能为空");
		return;
	}
	
	var from1 = document.getElementById("form1");
	form1.submit();
}
</script>
</head>
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
		    <li><a href="#">首页</a></li>
		    <li><a href="#">系统管理</a></li>
		    <li><a href="#">角色管理</a></li>
	    </ul>
    </div>
    
    <form id="form1" action="/role/update.html" method="post">
	    <input type="hidden" name="id" value="$!{entity.id}" />
	    <div class="formbody">
	    <div class="formtitle"><span class="sp">基本信息</span></div>
	    <div style="overflow:auto;height:500px" id="contentDiv">
		    <ul class="forminfo">
			    <li><label>类型：</label>
				#if ($role.isSys==0)
					<label style="color:red">系统内置</label>
				#else
                    <label style="color:red">用户创建</label>
				#end
				</li>
			    <li><label>角色名：</label><input name="name" id="name" value="$!{role.name}" type="text" class="dfinput-345" maxlength="30"/></li>
			    <li><label>状态：</label>
			    	<label><input type="radio" name="status" value="1" checked/> 正常</label>
			    	<label><input type="radio" name="status" value="2" #if ($role.status==2)checked #end/> 停用</label>
			    </li>
			    <li><label>排序号：</label><input name="displayOrder" id="displayOrder" value="$!{role.displayOrder}" type="text" class="dfinput-345" maxlength="2"/></li>
			    <li><label>首页地址：</label><input name="indexUrl" id="indexUrl" value="$!{role.indexUrl}" type="text" class="dfinput-345" /></li>
			</ul>
		    
		    <ul class="forminfo">
	    	<li><label>模块：</label></li>
			#foreach($map in $data.entrySet())


				<li><label style="width:120px"><input type="checkbox" name="ids" id="model1_$!{map.value.get(0).id}" onclick="$('.model2_${map.value.get(0).id}').attr('checked', $(this).attr('checked') == 'checked');"  value="${map.value.get(0).id}" #if ($velocityTools.contains($list,${map.value.get(0).id}))checked #end/>&nbsp;
					<img src="$!{staticPath}$!{map.value.get(0).img}" />&nbsp;$!{map.value.get(0).name}</label>
				</li>
        		<li>
					#set($sec =$!map.value.get(1))
					#foreach($entity in $sec)
					<label style="width:120px"><input type="checkbox" name="ids" class="model2_${map.value.get(0).id}" onclick="if($(this).attr('checked') == 'checked') $('#model1_${map.value.get(0).id}').attr('checked', 'checked');" value="$!{entity.id}" #if ($velocityTools.contains($list,$!{entity.id}))checked #end/>&nbsp;
								<a href="$!{contextPath}$!{entity.url}" target="_blank">$!{entity.name}</a></label>
					#end
        		<li>
			#end
			
			    <li>
			    	<label>&nbsp;</label>
					<input name="" type="button" class="btn" value="确认保存" onclick="doSave()"/>
			    	<input name="" type="button" class="btn" value="返回" onclick="location.href='/role.html'"/>
			    </li>
		    </ul>
    	</div>
	 </form>
	</div>
</body>
<script>
jQuery("#contentDiv").height(jQuery("#mainFrame", window.parent.parent.document).height() - 120);
</script>
</html>
