<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/rabbit  
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--队列服务-->
    <bean id="queueService" class="com.dreamy.service.mq.QueueServiceImpl">
        <property name="template" ref="amqpTemplate"/>
        <property name="rabbitTemplate" ref="defaultTemplate"/>
    </bean>

    <!-- 连接服务配置  -->
    <rabbit:connection-factory
            id="connectionFactory"
            host="${rabbit_host}"
            port="${rabbit_port}"
            username="${rabbit_username}"
            password="${rabbit_password}"
            channel-cache-size="${channel_cache_size}"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <!--配置模版-->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="directExchange"/>

    <!--默认配置模版-->
    <rabbit:template id="defaultTemplate" connection-factory="connectionFactory" exchange=""/>
    <rabbit:queue name="${queue_douban_comment}"/>
    <rabbit:queue name="${queue_amazon_crawler}"/>
    <rabbit:queue name="${queue_jd_crawler}"/>
    <rabbit:queue name="${queue_dangdang_crawler}"/>
    <rabbit:queue name="${queue_douban_crawler}"/>
    <rabbit:queue name="${queue_index_baidu}"/>
    <rabbit:queue name="${queue_index_360}"/>
    <rabbit:queue name="${queue_index_wb}"/>
    <rabbit:queue name="${queue_keyword_wx}"/>
    <rabbit:queue name="${queue_keyword_wb}"/>
    <rabbit:queue name="${queue_keyword_baidu_sougou}"/>
    <rabbit:queue name="${queue_news_sougou}"/>
    <rabbit:queue name="${queue_crawler_over}"/>
    <rabbit:queue name="${queue_crawler_qidian}"/>
    <rabbit:queue name="${queue_crawler_zongheng}"/>
    <rabbit:queue name="${queue_crawler_huayu}"/>
    <rabbit:queue name="${queue_crawler_qidian_mm}"/>
    <rabbit:queue name="${queue_crawler_qidian_fans}"/>



    <!--交换器声明-->
    <rabbit:direct-exchange name="directExchange">
        <rabbit:bindings>
            <rabbit:binding queue="${queue_douban_comment}"/>
            <rabbit:binding queue="${queue_amazon_crawler}"/>
            <rabbit:binding queue="${queue_jd_crawler}"/>
            <rabbit:binding queue="${queue_douban_crawler}"/>
            <rabbit:binding queue="${queue_dangdang_crawler}"/>
            <rabbit:binding queue="${queue_index_baidu}"/>
            <rabbit:binding queue="${queue_index_360}"/>
            <rabbit:binding queue="${queue_index_wb}"/>
            <rabbit:binding queue="${queue_keyword_wx}"/>
            <rabbit:binding queue="${queue_keyword_wb}"/>
            <rabbit:binding queue="${queue_keyword_baidu_sougou}"/>
            <rabbit:binding queue="${queue_news_sougou}"/>
            <rabbit:binding queue="${queue_crawler_over}"/>
            <rabbit:binding queue="${queue_crawler_qidian}"/>
            <rabbit:binding queue="${queue_crawler_zongheng}"/>
            <rabbit:binding queue="${queue_crawler_huayu}"/>
            <rabbit:binding queue="${queue_crawler_qidian_mm}"/>
            <rabbit:binding queue="${queue_crawler_qidian_fans}"/>

        </rabbit:bindings>
    </rabbit:direct-exchange>

    <bean id="listenerErrorHandler" class="com.dreamy.admin.handler.ListenerErrorHandler"/>

    <!--监听爬取完成的队列-->

    <bean id="crawlerFinishQueueHandler" class="com.dreamy.admin.handler.CrawlerFinishQueueHandler"/>
    <rabbit:listener-container
            connection-factory="connectionFactory"
            auto-startup="true"
            acknowledge="auto"
            prefetch="5"
            concurrency="1"
            message-converter="simpleMessageConverter"
            error-handler="listenerErrorHandler">
        <rabbit:listener ref="crawlerFinishQueueHandler" method="onMessage" queues="${queue_crawler_over}"/>
    </rabbit:listener-container>


    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.JsonMessageConverter"/>

    <bean id="simpleMessageConverter" class="org.springframework.amqp.support.converter.SimpleMessageConverter"/>


</beans>  