<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		    http://www.springframework.org/schema/task
		    http://www.springframework.org/schema/task/spring-task-3.0.xsd
		    http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
>
    <context:component-scan base-package="com.dreamy">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:rabbitmq_${env}.properties</value>
                <value>classpath:jdbc_${env}.properties</value>
                <value>classpath:redis_${env}.properties</value>
                <value>classpath:mongodb_${env}.properties</value>
                <value>classpath:common_${env}.properties</value>
            </list>
        </property>
    </bean>
    <bean id="threadPool"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="2"/>
        <property name="maxPoolSize" value="8"/>
        <property name="queueCapacity" value="10"/>
    </bean>

    <task:annotation-driven/>
    <bean id="userSessionContainer"
          class="com.dreamy.service.container.UserSessionContainerCacheImpl">
        <property name="prefix" value="ipcool_sso_sid_"/>
    </bean>

    <!--<bean id="oSSFileSystem" class="com.dreamy.utils.filesystem.impl.OSSFileSystem" init-method="init">-->
        <!--<property name="endpoint" value="oss-cn-hangzhou.aliyuncs.com"/>-->
        <!--<property name="accessKeyId" value="F5ySitlEtTLdJ3pp"/>-->
        <!--<property name="accessKeySecret" value="wmF80JSkM1pe6jhh3xsKfl6XyPaktP"/>-->
        <!--<property name="bucketName" value="ipcool"/>-->
    <!--</bean>-->


    <bean id="sessionCookieHandler" class="com.dreamy.handlers.CookieHandler">
        <property name="cookieName" value="IPCOOL_SSO_SESSIONID"/>
        <!--<property name="cookieDomain" value="/"/>-->
        <property name="cookiePath" value="/"/>
        <property name="httpOnly" value="true"/>
    </bean>
    <import resource="applicationContext-rabbitmq.xml"/>
    <import resource="classpath:applicationContext-dao.xml"/>
    <import resource="classpath:mongodb.xml"/>
</beans>
