<div class="container">
    #parse("/index/common.vm")
    <!--指数综合-->
    <!--综合指数趋势-->
    <section class="comprehensive">
        <h1 class="title">综合指数趋势</h1>

        <div class="values_container" id="composite_values">
            <!--当前指数 -->
            <div class="values_content">
                <h2 class="program_title">当前指数</h2>

                <div class="tooltip">
                    ?
                    <div class="tooltip_info">
                        以IP质量、热度、传播、潜力、粉丝活跃为关键指标，通过科学分析计算出的IP价值加权数。
                    </div>
                </div>
                <h5 class="number">$!{view.compositeIndex} <span class="arrow">↑</span></h5>
            </div>
            <!-- 历史最高 -->
            <div class="values_content">
                <h2 class="program_title">历史最高 <span class="date highest_history_date">2015/03/24</span></h2>
                <h5 class="number highest_histroy_value"></h5>
            </div>
            <!--全站排名 -->
            <div class="values_content">
                <h2 class="program_title">全站排名</h2>
                <h5 class="number">暂无</h5>
            </div>
            <!-- 同类排名 -->
            <div class="values_content">
                <h2 class="program_title">同类排名</h2>
                <h5 class="number">$!{crank}</h5>
            </div>
        </div>
    </section>
    <!-- 综合指数趋势图表 -->
    <section>
        <h1 class="title">综合指数趋势<span class="date_region">2015/03/24至2016/03/23</span></h1>

        <div class="line_charts" id="chart_comprehensive_value_detail" data-fetch-url="/comprehensive/history?ip=55"></div>
    </section>
    <!--综合排名地位-->
    <section>
        <h1 class="title">综合排名地位</h1>

        <div class="program_tab" id="program_tab">
            <h3 class="title">市场地位</h3>
            <ul class="tab_tags">
                <li class="active">全部</li>
            </ul>

            <ul class="tab_contents">
                <li class="clearfix show">
                    <div class="ipstatus">
                        <h3>在全部文学中所处的地位</h3>

                        <div class="pre_bar">

                            #foreach($bookLevel in $bookLevels)

                                #if($bookLevel.getLevel() == $crankLevel)
                                    <span class="current"> $bookLevel.getDescription()</span>
                                    #set($percent=$bookLevel.getDescription())
                                #else
                                    <span class=""> $bookLevel.getDescription()</span>
                                #end

                            #end
                            #set($length = 35)
                            #set($topValue = $crankLevel - 1)
                            #set($top = $topValue * $length)
                            <i style="top: ${top}px;">当前</i>
                        </div>
                        <h6>[$!{view.name}]在全部小说中,　属于${percent}的优质级内容</h6>
                    </div>
                    <div class="iprank clearfix">
                        <h3>在全部文学中的排名</h3>
                        <a class="show_rank_list" href="/rank/list.html">查看排行榜 ></a>
                        <table>
                            <tr>
                                <th>排名</th>
                                <th>名称</th>
                                <th>价值指数</th>
                                <th>趋势</th>
                            </tr>

                            #foreach($rankPosition in $rankPositions)
                                <tr
                                    #if($rankPosition.getBookView().getBookId() == $view.getBookId())
                                            class="current"
                                        #set($trend=$rankPosition.getTrend())
                                    #end>
                                    <td>$rankPosition.getCompositeRank()</td>
                                    <td>$rankPosition.getBookView().getName()</td>
                                    <td>$rankPosition.getBookView().getCompositeIndex()</td>
                                    <td>
                                        #if($rankPosition.getTrend() == 0)
                                            -
                                        #elseif($rankPosition.getTrend() == 1)
                                            ↑
                                        #else
                                            ↓
                                        #end
                                    </td>
                                </tr>
                            #end

                        </table>
                        <h6>[$!{view.name}]在全小说价值排名第 ${crank} 位, 并有
                            #foreach($trendEnum in $trendEnums)
                                #if($trendEnum.getType() == $trend)
                                    $trendEnum.getDescription()
                                #end
                            #end
                            趋势</h6>
                    </div>
                </li>
            ##                <li>
            ##                    <p>同类内容</p>
            ##                </li>
            ##                <li>
            ##                    <p>同期内容</p>
            ##                </li>
            </ul>
        </div>
    </section>
</div>