<div class="vote_content">
    <div class="vote movie" data-type="1">
        <span></span>
        <h5>电影</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
    <div class="vote tvshow"  data-type="2">
        <span></span>
        <h5>电视剧</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
    <div class="vote mobilegame"  data-type="3">
        <span></span>
        <h5>手游</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
    <div class="vote game"  data-type="4">
        <span></span>
        <h5>游戏</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
    <div class="vote peripheral"  data-type="5">
        <span></span>
        <h5>周边</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
    <div class="vote others"  data-type="6">
        <span></span>
        <h5>其他</h5>

        <div class="vote_btns">
            <button class="expext">期待</button>
            <button class="wantDevelop">想开发</button>
        </div>
    </div>
</div>