#set($layout = "/layout/layout_chart.vm")
#set($cssName = "program_detail_page.css")
#set($jsName = "program.js")


<input id="getIpid" type="hidden" value="$!{view.bookId}">

<div class="container">
    #parse("/index/common.vm")
    <section>
        <h1 class="title">开发意向</h1>
        <h6>投票你最期待的项目</h6>

        <div class="vote_container">
            #parse("/index/develop_intention.vm")
        </div>
    </section>
</div>
