<div class="container">
    <!--搜索框-->
    #parse("/common/search.vm")
    <!--program_info-->
    <section class="program_info clearfix">
        <!-- TOP100 形状 -->
        <div class="level_flag">
            TOP100
        </div>
        <img src="$!{view.imageUrl}">

        <div class="content">
            <h1 class="name">$!{view.name}<span class="type">出版文学</span></h1>
            <h6 class="genre">类型：脱口秀</h6>

            <p class="info">
                作者：$!{view.author}
            </p>

            <div class="tags">
                <span><a href="#">搞笑</a></span>
                <span><a href="#">星爷</a></span>
                <span><a href="#">2016</a></span>
                <span><a href="#">环保</a></span>
            </div>
        </div>
        <div class="update_time">
            <h6>数据更新时间</h6>
            <span>$!dateUtils.toString("yyyy-MM-dd",$view.updatedAt)</span>
        </div>
    </section>
    <!--program_nav -->
    <section class="program_nav" id="program_nav">
        <div class="inner clearfix">
            <ul>
                <li class="active"><a href="">综合评价</a></li>
                <li><a href="">开发意向</a></li>
                <li><a href="">用户点评</a></li>
                <li><a href="">简介</a></li>
            </ul>
            <div class="follow_download">
                <span class="follow">关注</span>
                <span class="download">下载完整报告</span>
            </div>
        </div>
    </section>
    <!-- 热度趋势 -->
    <section>
        <h1 class="title">热度指数概况</h1>
        <!-- 指数们 -->
        <div class="values_container">
            <!--当前指数指数 -->
            <div class="values_content">
                <h2 class="program_title">当前热度指数</h2>

                <div class="tooltip">
                    ?
                    <div class="tooltip_info">
                        以用户在网络上近期的搜索量为数据基础，以关键词为统计对象，科学分析出各个关键词搜索频次的加权数。用来衡量当下的热门程度。
                    </div>
                </div>
                <h5 class="number">$!{view.hotIndex}  <span class="arrow">↑</span></h5>
            </div>
            <!-- 历史最高 -->
            <div class="values_content">
                <h2 class="program_title">历史最高 <span class="date">2015/03/24</span></h2>
                <h5 class="number">10,345</h5>
            </div>
            <!--同类排名 -->
            <div class="values_content">
                <h2 class="program_title">当前排名 <span class="date">2015/03/24</span></h2>
                <h5 class="number">33</h5>
            </div>
        </div>
    </section>
    <section>
        <h1 class="title">热度趋势 <span class="date_region">2015/03/24至2016/03/23</span></h1>
        <!-- 热度趋势图表 -->
        <div id="chart_heat_trend" data-fetch-url="/hotIndex/history?ip=55"></div>

    </section>
</div>
