<script type="text/javascript" src="http://$!assetsDomain/ipcool/dist/vendor/echarts.min.js"></script>
<script type="text/javascript" src="http://$!assetsDomain/ipcool/dist/program_detail.js "></script>