#set($cssName = "program_detail_page.css")
#set($jsName = "program.js")

<div class="container">
    #parse("/index/common.vm")

    <section class="introduction">
        <h1 class="title">基本介绍</h1>

        <p class="summary">
            $!{view.introduction}
        </p>

        <div class="introduction_details_container">
            <div class="introduction_details_content">
                <span class="title">作品</span>
                <a href="#" class="content"> $!{view.name}</a>
            </div>
            <div class="introduction_details_content">
                <span class="title">作者</span>
                <a href="#" class="content">$!{view.author}</a>
            </div>
##            <div class="introduction_details_content">
##                <span class="title">状态</span>
##                <a href="#" class="content">正在连载</a>
##            </div>
##            <div class="introduction_details_content">
##                <span class="title">版权所有</span>
##                <a href="#" class="content">起点文学(出版社)</a>
##            </div>
        </div>
    </section>

</div>
