<div class="container">
    <!--搜索框-->
    #parse("/common/search.vm")
    <!--搜索框 end-->
    <!--program_info-->
    <section class="program_info clearfix">
        <!-- TOP100 形状 -->
        <div class="level_flag">
            TOP100
        </div>
        <img src="../../assets/images/pic.png">

        <div class="content">
            <h1 class="name">奇葩说（2016）<span class="type">小说</span></h1>
            <h6 class="genre">类型：脱口秀</h6>

            <p class="info">
                导演：周星驰 / 主演：林允 章鱼怪 螃蟹精 小顺子 土豆
            </p>

            <div class="tags">
                <span><a href="#">搞笑</a></span>
                <span><a href="#">星爷</a></span>
                <span><a href="#">2016</a></span>
                <span><a href="#">环保</a></span>
            </div>
        </div>
        <div class="update_time">
            <h6>数据更新时间</h6>
            <span>2016-04-23</span>
        </div>
    </section>
    <!--program_nav -->
    <section class="program_nav" id="program_nav">
        <div class="inner clearfix">
            <ul>
                <li><a href="">综合评价</a></li>
                <li class="active"><a href="">开发意向</a></li>
                <li><a href="">用户点评</a></li>
                <li><a href="">简介</a></li>
            </ul>
            <div class="follow_download">
                <span class="follow">关注</span>
                <span class="download">下载完整报告</span>
            </div>
        </div>
    </section>
    <section>
        <h1 class="title">开发意向</h1>
        <h6>投票你最期待的项目</h6>

        <div class="vote_container">
            <div class="vote_content">
                <div class="vote movie">
                    <span></span>
                    <h5>电影</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
                <div class="vote tvshow">
                    <span></span>
                    <h5>电视剧</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
                <div class="vote mobilegame">
                    <span></span>
                    <h5>手游</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
                <div class="vote game">
                    <span></span>
                    <h5>游戏</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
                <div class="vote peripheral">
                    <span></span>
                    <h5>周边</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
                <div class="vote others">
                    <span></span>
                    <h5>其他</h5>

                    <div class="vote_btns">
                        <button class="expext">期待</button>
                        <button class="wantDevelop">想开发</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1 class="title">投票结果</h1>

        <div id="chart_vote_result"></div>
    </section>
    <section>
        <h1 class="title">TA们愿意参与开发<span class="date_region">24个人愿意为[盗墓笔记]开发</span></h1>
        <ul class="comments_container">
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
        </ul>
        <div class="program_showMore">
            <a href="">查看全部</a>
        </div>
    </section>
    <section>
        <h1 class="title">TA们这样期待开发<span class="date_region">24个人愿意为[盗墓笔记]开发</span></h1>
        <ul class="comments_container">
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
            <li class="comment">
                <img class="comment_avatar" src="../../assets/images/authorpic.png">

                <h3 class="comment_title">土豆 导演 90后新锐电影导演</h3>

                <p class="comment_content">
                    其实看美人鱼之前我有很多方面的脑内活动，最大的期待是周星驰作品肯定不难看，对于情节特效笑果方面也做了很多设想，虽然有文章这么一颗老鼠屎，但是我说服了自己一个酱油没什么，无视就行。
                    最重要的是，作为一个有美人鱼情节...

                <p>
                    <a class="comment_more" href="#">查看全文>></a>
            </li>
        </ul>
        <div class="program_showMore">
            <a href="">查看全部</a>
        </div>
    </section>
</div>
