<div class="page-heading">
    <h3>
        数据管理
    </h3>
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据管理</a></li>
        <li><a href="#">查看详情</a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h3 style="font-size: 20px;">书名称</h3>
            <ul class="nav nav-tabs">
                <li role="presentation" class="#if(!$currentSource) active #end">
                    <a class="pjax-url " href="/crawler/view?id=$!book.id">展示数据</a>
                </li>
                <li role="presentation" class="">
                    <a class="pjax-url " href="/crawler/view?id=$!book.id">原始数据</a>
                </li>
                <li role="presentation" class="">
                    <a class="pjax-url " href="/crawler/view?id=$!book.id">数据源</a>
                </li>
            </ul>
            <section class="panel">
                <header class="panel-heading">
                    基本信息
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal dt-form" role="form" action="/crawler/save" method="post">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">名称</label>
                            <div class="col-lg-10">
                                <p for="inputEmail1" class=" control-label" style="text-align: left">$!{book.name}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">关键词</label>
                            <div class="col-lg-10">
                                <p for="inputEmail1" class=" control-label" style="text-align: left">$!{book.indexKeyword}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">作者</label>
                            <input type="hidden" name="infos[0].source" value="1"/>
                            <div class="col-sm-10">
                                <p for="inputEmail1" class=" control-label" style="text-align: left">$!{bookView.author}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签</label>
                            <input type="hidden" name="infos[1].source" value="2"/>
                            <div class="col-sm-10">
                                <p for="inputEmail1" class=" control-label" style="text-align: left"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <input type="hidden" name="infos[2].source" value="3"/>
                            <div class="col-sm-10">
                                <p for="inputEmail1" class=" control-label" style="text-align: left">
                                    #if($book.type==1)
                                        出版文学
                                    #elseif($book.type==2)
                                        网络小说
                                    #end
                                </p>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                            ##        <a class="btn btn-default" href="javascript:history.back(-1)" type="button">返回</a>
                                <a class="btn btn-default" href="/crawler" type="button">返回</a>
                            </div>
                        </div> -->
                    </form>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    数据概览
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>综合指数</th>
                                <th>潜力指数</th>
                                <th>热度指数</th>
                                <th>传播指数</th>
                                <th>用户活跃</th>
                                <th>口碑</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeC">
                                    <td class="center"></td>
                                    <td>$!{book.score}</td>
                                    <td class="center">  $!{book.commentNum}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    综合指数
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>平台名称</th>
                                <th>评分</th>
                                <th>评论总数</th>
                                <th>销售排名</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($book in $crawlerInfos)
                                <tr class="gradeC">
                                    <td class="center">
                                    </td>
                                    <td>$!{book.score}</td>
                                    <td class="center">  $!{book.commentNum}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    潜力指数
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>平台名称</th>
                                <th>评分</th>
                                <th>评论总数</th>
                                <th>销售排名</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($book in $crawlerInfos)
                                <tr class="gradeC">
                                    <td class="center">
                                    </td>
                                    <td>$!{book.score}</td>
                                    <td class="center">  $!{book.commentNum}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    热度指数
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>平台名称</th>
                                <th>评分</th>
                                <th>评论总数</th>
                                <th>销售排名</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($book in $crawlerInfos)
                                <tr class="gradeC">
                                    <td class="center">
                                    </td>
                                    <td>$!{book.score}</td>
                                    <td class="center">  $!{book.commentNum}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    用户活跃指数
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div id="albumListBox" class="adv-table">
                        <table class="display table table-bordered table-striped dt-data-table" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>平台名称</th>
                                <th>评分</th>
                                <th>评论总数</th>
                                <th>销售排名</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($book in $crawlerInfos)
                                <tr class="gradeC">
                                    <td class="center">
                                    </td>
                                    <td>$!{book.score}</td>
                                    <td class="center">  $!{book.commentNum}</td>
                                    <td class="center">$!{book.saleSort}</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
