#set($cssName = "sidebar.css")


<div class="container clearfix">
    <!-- 关于我们 左侧导航 -->
    <ul class="sidebar_nav">
        <li><a href="/about/us">关于我们</a></li>
        <li><a href="/about/feedback">意见反馈</a></li>
        <li><a href="/about/agreement">用户协议</a></li>
        <li class="active"><a href="#">联系我们</a></li>
    </ul>

    <!-- 关于我们 右侧部分 -->

    <div class="sidebar_content">
        <h1 class="title">联系我们</h1>
        <div class="col_2_container">
            <div class="col" style="padding-right: 30px;">
                <p>电话：0571-87660085</p>
                <p>邮箱：connect@ipcool.me</p>
                <p>地址：杭州市西湖区文三西路月桂花园1-12</p>
            </div>
            <div class="col">
                <img src="http://o6qhdb7kv.bkt.clouddn.com/225EF04D-55B0-48BF-B97B-465637FB63CC@1x.png">
            </div>
        </div>
    </div>

</div>